body{
    background-color: #F9F9F9;
   
}
html {
    scroll-behavior: smooth;
}
 .navbar-light{
    background-color: #01ff73;
    box-shadow: 1px 1px 20px black;
 }
.nav-link{
    padding-right: 5px;
}
.portfolio-img {
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 280px; /* Set width to 100% to make it responsive */
    height: auto;
    
   
}

.social-icons a{
   color: #0C9048;
    font-size: 1.5rem;
    padding: 15px;
}
.text-muted{
    color: #0c9047c2;
}
.container-badge{
    display: block;
   width: 70%;
   height: auto;
   
   margin-left: auto;
   margin-right: auto;
}
.mt-6{
    margin-top: 15%;
}
.container-skills{
    margin-top: 5%;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.container-skills .skill-list{
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translate(10%,-10%);
}
@media (max-width: 576px) { /* Apply when viewport width is less than or equal to 576px (small screens) */
    .container-skills .skill-list {
        width: 100%;
        transform: translate(0); /* Resize images to 75% on smaller viewports */
    }
    .container-skills{
        margin-top: 0;
    }
}

.container-work{
    width: 70%;
    
}

.container-certi{
    width: 70%;
    height: auto;
}
.carousel-item{
    width:50%;
    height: 50%;
}
.container-profile{
    padding-top: 5%;
    
}

.container-project{
    width: 70%;
    margin-bottom: 10%;
    height: auto;
}

.about-me{
    width: 75%;
    margin-top: 5%;
    font-size: 1.1rem;
}
@media (max-width: 576px) {
    .profile-name {
        font-size: 1.5rem;
    }
    .social-icons a {
        font-size: 1.2rem;
    }

    .portfolio-img {
        border-bottom-right-radius: 10%;
        border-bottom-left-radius: 10%;
        width: 200px; /* Set width to 100% to make it responsive */
        height: auto;
        
       
    }
    .about-me{
        font-size: 0.9rem;
        width: 100%;

    }
    
}
.badge-img {
    width: 50%; /* Default width for larger screens */
}

@media (max-width: 576px) { /* Apply when viewport width is less than or equal to 576px (small screens) */
    .badge-img {
        width: 120%; /* Resize images to 75% on smaller viewports */
    }
}



.freelancer {
    width: 75%; /* Adjust as needed */
}
.utest {

    width: 50%; /* Adjust as needed */
}

.text{
    font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.1rem; 
text-align: justify;

}
.contact-p{
    font-family: "Atkinson Hyperlegible Next", serif;
    font-size: 1.1rem; 
}
@media (max-width: 576px) {
    .text {
        font-size: 0.9rem; /* Smaller font size for devices with width <= 576px */
    }
    .utest {
        margin-bottom: 5%;
        width: 60%; /* Adjust as needed */
    }
    .contact-p{
        font-family: "Atkinson Hyperlegible Next", serif;
        font-size: 0.5rem; 
    }
}

a{
    text-decoration: none;
}



.text-justify {
    text-align: justify;
    text-indent: 3rem;
}

.contact-h1{
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.contact-list{
    width: 23%;
    height: auto;
    margin-top: 3rem;
    margin-right:10%;
}

/* @media (max-width: 576px) {
    body{
        display: none;
    }
} */

